#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1{
  margin: 10px;
}

.by{
  margin-top: 0px ;
}
.app{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.light{
  background-color: white ;
  color: black;
}

body.dark{
  background-color: #121212;
  color: white;
}

button{
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}