#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  padding-left: 18px;   /* default is ~40px */
}

h1{
  margin: 10px;
}
.by{
  margin-top: 0px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 8px;             
}
.cross{
  background-color: red;
}
.add{
  background-color: rgb(0, 225, 0);
  margin-left: 20px;
  color: black;
}

.todo-item button {
  margin-left: 8px;
  cursor: pointer;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}